.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    text-align: center;

    .profile-avatar {
        width: 100px;
        height: 100px;
        margin-bottom: 10px;
        border: 2px solid var(--ion-color-light);
    }

    h2 {
        margin: 5px 0;
        font-weight: 700;
    }

    p {
        margin: 0;
        color: var(--ion-color-medium);
    }
}

ion-item {
    --background: #f5f5f3;
}

h3 {
    color: black;
}

.logout-container {
    margin-top: 40px;
    padding: 0 16px;
}